<div class="modal-fog">
    <div class="modal-frame">
        <div class="modal-title">
            add a cat!
        </div>
        <div class="modal-body">
            name: {{input value=cat.name}}
            breed: {{input value=cat.breed}}
            weight: {{input value=cat.weight}}
            temperament: {{input value=cat.temperament}}
            hobbies:
            {{#each hobbies as |hobby|}}
              {{hobby.name}}
            {{/each}}
            <button class="btn btn-info" {{action 'submit'}}>save</button>
        </div>
    </div>
</div>

